.board {
	width: 790px;
	height: 885px;
	background-image: url("board.png");
	margin: 0;
	padding: 0;
	border: 0;
	position: relative;
}

.opponent_pawn, .opponent_cannon, .opponent_tank, .opponent_horse, .opponent_elephant, .opponent_guard, .opponent_king, .pawn, .cannon, .tank, .horse, .elephant, .guard, .king, .board .empty {
	width: 71px;
	height: 71px;
	margin: 0;
	padding: 0;
	border: 0;
	background-repeat: no-repeat;
	position: absolute;
}

.opponent_pawn {
	background-image: url("opponent_pawn.png");
}
.pawn {
	background-image: url("pawn.png");
}

.opponent_cannon {
	background-image: url("opponent_cannon.png");
}
.cannon {
	background-image: url("cannon.png");
}

.opponent_tank {
	background-image: url("opponent_tank.png");
}
.tank {
	background-image: url("tank.png");
}

.opponent_horse {
	background-image: url("opponent_horse.png");
}
.horse {
	background-image: url("horse.png");
}

.opponent_elephant {
	background-image: url("opponent_elephant.png");
}
.elephant {
	background-image: url("elephant.png");
}

.opponent_guard {
	background-image: url("opponent_guard.png");
}
.guard {
	background-image: url("guard.png");
}

.opponent_king {
	background-image: url("opponent_king.png");
}
.king {
	background-image: url("king.png");
}
